
#header img{
  width: 80px
}

button:hover{
    cursor: pointer;
}

#main .carousel-inner img{
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel{
  position: relative;
}

#carousel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);
  color:white;
  z-index: 1;
}

.text-team{
  color: #97c93e !important;
}

.btn-team{
  background-color: #97c93e;
  color: white;
}

.btn-team:hover{
  background-color: #82ad36;
}

.card a{
  color: black;
  font-size: 30px;
}

#place-time{
    background-color: #343a40;
    color: white;
}

#place-time img{
  max-width: 100%;
}

#place-time p{
  font-size: 17px;
}

.badges{
  text-align: right;
}

#orador-text{
  height: 160px;
}


#footer{
  background: linear-gradient(90deg,#1c3643,#273b47, 25%,#1e5372);
}

#footer a{
  color: white;
}

abbr{
  font-weight: bold;
  text-decoration: none;
}

.form-row .col button abbr{
  text-decoration: none;
}

/* important */

/* important */
